<div id="banner" class="container-fluid d-flex flex-column justify-content-center p-5 mb-4 text-light ">
	<h1 class="display-1">Persons</h1>
	<h2 class="mb-5">Manage your personnel all in one place.</h2>
	<a href="/persons"><button class="btn btn-outline-light">View personnel</button></a>
</div>
<div class="container text-center">
	<h2>About</h2>
	<p class="fs-5 mb-4">
		Persons is an employee management web app that offers a comprehensive solution for tracking all information pertaining to members of your organization.
		Our platform provides a streamlined, centralized solution for managing all your employee data, from onboarding to offboarding. Whether you&apos;re a
		small business owner or an HR professional, Persons is here to help you manage your employee data more efficiently. Start using our platform today and
		experience the benefits of a modern, intuitive, and user-friendly system for managing your employee information.
	</p>
	<hr />
	<div>
		<h3 class="mb-3">Features</h3>
		<div class="row mb-3 g-3">
			<div class="col-lg">
				<h4>Secure</h4>
				<p class="fs-5">Our platform uses strong encryption algorithms to store your data, ensuring your information is safe and secure.</p>
			</div>
			<div class="col-lg feature">
				<img src="/images/secure.avif" alt="Phone displaying a lock icon" class="img-fluid feature" />
			</div>
		</div>
		<div class="row mb-3 g-3">
			<div class="col-lg align-middle">
				<h4>Anytime, anywhere</h4>
				<p class="fs-5">Persons is designed with devices of all sizes in mind - manage your new hires or update your information on the go, or from the
					comfort of your office.</p>
			</div>
			<div class="col-lg feature">
				<img src="/images/anywhere.avif" alt="Person walking with a briefcase" class="img-fluid feature" />
			</div>
		</div>
		<div class="row mb-3 g-3">
			<div class="col-lg">
				<h4>Easy-to-use</h4>
				<p class="fs-5">Our platform features an intuitive user interface that is designed to be user-friendly, making it easy for anyone to pick up and
					start using in a matter of minutes.</p>
			</div>
			<div class="col-lg feature">
				<img src="/images/easy.avif" alt="Person using a computer" class="img-fluid feature" />
			</div>
		</div>
	</div>
</div>
<footer class="container-fluid p-4 text-end">
	Persons by Uday Rana. Images by
	<a href="https://unsplash.com/@homajob?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Scott Graham</a>,
	<a href="https://unsplash.com/es/@franckinjapan?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Franck</a>,
	<a href="https://unsplash.com/@sixstreetunder?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Craig Whitehead</a>, and
	<a href="https://unsplash.com/@christinhumephoto?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Christin Hume</a>
	on
	<a href="https://unsplash.com/photos/Hcfwew744z4?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>.
</footer>