div#banner {
    height: 93vh;
    background-image: url('/images/banner.avif');
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
}

div.feature > img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

div.feature {
    height: 25vh;
    overflow: hidden;
}

@media (max-width: 992px) {
	.navbar-nav {
		margin: auto;
		text-align: center;
	}
}